.card-wrapper {
  padding: 3rem 0 2.188rem 0;
}

.card-container {
  padding-bottom: 1.5rem;
}

.card {
  background-position: top right;
  background-repeat: no-repeat;
  padding: 60px 46px 80px;
  border-radius: 10px;
  min-height: 370px;
}

.first-card {
  background-image: url("./../images/background-first-card.jpg");
  background-color: #e3e2e3;
  background-size: cover;
  margin-bottom: 1.5rem;
}

.second-card {
  background-image: url("./../images/background-second-card.jpg");
  background-color: #000000;
  background-size: cover;
  margin-bottom: 1.5rem;
}

.third-card {
  background-image: url("./../images/background-third-card.png");
  background-position: top right 10%;
  background-color: #ccd5e6;
  background-size: contain;
  margin-bottom: 1.5rem;
  padding-top: 35px;
}

.fourth-card {
  background-image: url("./../images/background-fourth-card.png");
  background-color: #ff4f52;
  background-size: contain;
  padding-left: 25px;
  padding-top: 35px;
}

.card-title {
  font-family: "Roboto Slab";
  line-height: 30px;
  font-weight: 700;
  max-width: 222px;
  color: #262d33;
  font-size: 25px;
  margin: 0;
}

.card-title.large {
  margin-bottom: 20px;
  line-height: 50px;
  margin-top: 30px;
  max-width: 420px;
  font-size: 40px;
}

.card-text {
  margin-bottom: 25px;
  line-height: 20px;
  max-width: 176px;
  color: #4b5157;
  font-size: 14px;
}

.card-text.large {
  max-width: 320px;
}

.text-line {
  color: #ffffff;
}

.printed-shirt-header {
  max-width: 210px;
}

.button-icon:last-child {
  margin-left: 10px;
  margin-right: 0;
}

.card-price {
  line-height: 20px;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
}

@media screen and (max-width: 1200px) {
  .third-card {
    background-size: cover;
  }
}

@media screen and (max-width: 576px) {
  .card {
    background-position: top left;
    min-height: 300px;
    padding: 30px;
  }

  .fourth-card {
    background-position: top right;
  }
}
