.header {
  padding: 15px 0;
}

.logo-img {
  width: 128px;
}

.nav-link {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: 20px;
  color: #939699;
  font-weight: 900;
  font-size: 14px;
}

.button {
  background: #4592ff;
  font-family: inherit;
  border-radius: 20px;
  padding: 10px 20px;
  line-height: 20px;
  color: #ffffff;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  border: none;
}

.button-icon,
.button-price {
  margin-right: 10px;
}

@media screen and (max-width: 768px) {
  .header {
    padding: calc(1.5rem / 2);
  }
}
