.slider {
  position: relative;
}

.slide {
  background-position: top right 25%;
  background-repeat: no-repeat;
  padding-bottom: 110px;
  padding-top: 90px;
  min-height: 568px;
}

.first-slide {
  background-image: url("./../images/slider.png");
  background-color: #b4d1e0;
}

.second-slide {
  background-image: url("./../images/slider.png");
  background-color: #b9e0b4;
}

.third-slide {
  background-image: url("./../images/slider.png");
  background-color: #f0aec2;
}

.label {
  background-color: #3dc47e;
  border-radius: 3px;
  padding: 5px 12px;
  line-height: 15px;
  color: #ffffff;
  font-size: 12px;
}

.slide-title {
  font-family: "Roboto Slab";
  margin-bottom: 15px;
  line-height: 70px;
  font-weight: 700;
  margin-top: 20px;
  color: #262d33;
  max-width: 400px;
  font-size: 55px;
}

.slide-description {
  margin-bottom: 40px;
  line-height: 30px;
  color: #4b5157;
  max-width: 335px;
  font-size: 18px;
}

.slider-nav {
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  z-index: 9;
  top: 50%;
}

.slider-button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: none;
}

@media screen and (max-width: 1200px) {
  .slide {
    background-size: cover;
  }
}

@media screen and (max-width: 992px) {
  .slider-nav {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .slide-title {
    margin-bottom: 0px;
    line-height: 1.4;
    font-size: 36px;
  }
}
