.center-bottom {
  align-items: center;
  margin-bottom: 1.5rem;
}
.section-title {
  font-size: 25px;
  line-height: 30px;
  font-family: "Roboto Slab";
  color: #262d33;
}
.link {
  display: flex;
  justify-content: flex-end;
}
.more {
  text-decoration: none;
  color: #262d33;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  padding: 10px;
}
.goods-card {
  position: relative;
  text-align: center;
  padding: 30px 36px 35px;
}
.labe {
  position: absolute;
  left: 18px;
  top: 18px;
}
.goods-title {
  margin-top: 15px;
  margin-bottom: 5px;
  color: #262d33;
  font-size: 16px;
  line-height: 25px;
  font-family: "Roboto Slab";
}
.goods-description {
  color: #4b5157;
  font-size: 14px;
  line-height: 20px;
}
.goods-price {
  color: #262d33;
  margin-top: 30px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 900;
}

