.sub-content-wrapper {
  margin-bottom: 1.5rem;
  align-items: center;
}

.section-title {
  font-family: "Roboto Slab";
  line-height: 30px;
  font-weight: 700;
  color: #262d33;
  font-size: 25px;
}

.more {
  line-height: 20px;
  font-weight: 900;
  color: #262d33;
  font-size: 14px;
  padding: 10px;
}

.goods-card {
  padding: 30px 36px 35px;
  text-align: center;
  position: relative;
}

.labe {
  position: absolute;
  left: 18px;
  top: 18px;
}

.goods-title {
  font-family: "Roboto Slab";
  margin-bottom: 5px;
  line-height: 25px;
  font-weight: 700;
  margin-top: 15px;
  color: #262d33;
  font-size: 16px;
}

.goods-description {
  margin-bottom: 20px;
  line-height: 20px;
  color: #4b5157;
  font-size: 14px;
}

.goods-price {
  line-height: 30px;
  color: #262d33;
  font-weight: 900;
  font-size: 18px;
}
